*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logic{
    margin-left: 120px ;
    padding: 16px;
}
  .btn{
    background-color: #469165;
    border: none;
    border-radius: 4px ;
    padding: 12.5px 16px ;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: auto ;
    margin-right: 120px ;
    cursor: pointer;
  }

   #section-card h1{
  font-size: 48px;
  font-weight: bold;
  line-height: auto ;
  color: #001931;
  padding-top: 44px;
 }
 #section-card h6{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px ;
  color: #627382;
 }
 #section-card .card{
  width: 322px ;
  height: 300px ;
  /* border: 1px solid red ; */
  box-shadow: 0 0 8px 0 #0000001e;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-top: 44px ;

 }

 .image-circle{
  background: #F95555;
  width: 60px ;
  height: 60px ;
  border: none;
  border-radius: 50% ;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 69.5px ;
  
 }
 #section-card .card h3{
  font-size: 24px;
  font-weight: 600 ;
  line-height: auto ;
  color: #001931;
  margin-top: 16px ;
 }

#section-card .card h6{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin: 16px 24px 69.5px 24px ;
}










/* main style */
header{
    background-color: #FFFFFF;
    
}


   nav{
    width: 100%;
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .link{
    display: flex;
    list-style: none;
    gap: 32px ;
    padding: 32px ;
    align-items: center;
   }

   .link a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    line-height: 152%;
    color: #000000;
   }

   #banner{
    width: 100%;
    max-width: 1600px ;
    margin: 0 auto ;
    background:url(../assets/hero-bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    text-align: center;
   }
   #banner .banner-content{
   padding-top: 125.5px ;
   
    
   }
   #banner .banner-content h6{
    max-width: 229px ;
    max-height: 35px;
    margin: 0 auto;
    margin-bottom: 16px ;
    border: none;
    border-radius: 1000px;
    padding: 8px ;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 400 ;
    color:#469165 ;
    gap: 6px ;
    
   }

   #banner .banner-content h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;

   }

   #banner .banner-content h2 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #30B868;
    margin-bottom: 16px ;
   }
  #banner .banner-content p{
    max-width: 1360px ;
    font-size: 18px ;
    line-height: 24px ;
    font-weight: 400 ;
    color: #FFFFFF;
    margin: 0 auto ;
  }
  .play{
    background: none  ;
    border: 1px solid white;
    border-radius: 4px ;
    padding: 16.5px 16px 16.5px 10px ;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: auto ;
    margin-right: 120px ;
    cursor: pointer;
  }

 .aorrow{
  
    background-color: #469165;
    border: none;
    border-radius: 4px ;
    padding: 16.5px 10px 16.5px 16px ;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: auto ;
   justify-content: center;
    cursor: pointer; 
 }
 .section-button{
  justify-content: center;
  margin-top: 32px ;
  display: flex;
  gap: 16px;
  padding-bottom: 179.5px;
  padding-left: 447.5px ;
  padding-right: 447.5px;
 
 }

 #section-card{
  background-color: #FFFFFF;
  width: 100%;
  max-width: 1600px ;
  margin: 0 auto;
  text-align: center;
 }


 .card-container{
  display: flex;
  gap: 24px ;
  justify-content: center;
 }



 #left-image {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto ;
 margin-top: 120px ;
  justify-content: center;
  
  
 }


 #left-image .one-image {
  display: flex;
  gap: 60px ;
 }

 .left-image-content{
  margin-top: 120px  ;
 }
 .left-image-content h5{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px ;
  color: #469165;
 }
 .left-image-content h1{
  width: 700px ;
  height: 116px ;
  font-size: 48px ;
  font-weight: bold;
  line-height: 45px;
  color: #001931;
  margin-top: 16px ;
 }
 .left-image-content p{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px ;
 }

 .left-image-content h4 {
  
  align-items: center;
  align-content: center;
  display: flex;
  margin-top: 16px;
  gap: 6px ;
  font-size: 16px;
  font-weight: 500 ;
  line-height: 20px ;
  
 }
 #challenge{
  width: 100%;
  max-width: 1380px ;
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
  background-color: #F7F6F2;
 }
 #challenge h1 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px ;
  padding-top: 80px ;
  

  
 }
#challenge p {
    font-size: 16px;
    font-weight: 500;
    color: #627382;
    line-height: 24px ;
    margin-bottom: 24px ;
    
  }
  #challenge h6{
    font-size: 16px ;
    font-weight: 400 ;
    line-height: 20px ;
    color: #627382;
    margin: 16px  ;
    /* margin-bottom: 80px ; */
    padding-bottom: 80px;
  }

  #footer{
    width: 100%;
    max-width: 1600px;
    background-color: #001931;
    margin: 0 auto ;
    margin-top: 120px ;
  }



  #footer ul{
    display: flex;
    gap: 16px ;
    list-style: none;
    /* background: #FFFFFF; */
    
  }

  .Social{
    display: flex;
    justify-content: space-between;
    padding-top: 120.22px ;
    padding-bottom: 77.56px ;
    padding-right: 120.22px ;
    padding-left: 120.29px ;

  }
  .Social h4{
    font-size: 20px;
    font-weight: 500 ;
    line-height: 28px ;
    color: #FFFFFF ;
    margin-bottom: 6px ;
  }
  
  .i-circle{
    width: 20px ;
    height: 20px ;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
  }
  .last{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FAFAFA;
    padding-bottom: 30.22px;
    
  }
  hr{
    border: 1px solid #5a86af9f ;
    width: 60%;
    margin: 10px auto ;
    margin-bottom: 25px ;
  }
  

